body {
  margin: 0;
  letter-spacing: 1.5px;
  font-family: Helvetica Neue,'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-weight: 300px;
  color: #393c40;
  background-color: #fdfdfd;
  width: 100%;
  text-decoration: none;
}
ul {
  list-style: none;
}
.space {
  padding: 2em;
}
.sub-en {
  margin: 0;
  font-weight: 200;
  font-size: 12px;
  color: #63636E;
  letter-spacing: 1.5px;
}
hr {
  margin: 1em 0em;
}
.number {
  font-size: 40px;
  font-weight: 100;
  padding-right: 1em;
}
.res-iamge img{
  width: 80%;
}
.weight {
  font-weight: 600;
}

/* header */
.row {
  display: flex;
  flex-direction: row;
  align-items:center;
  width: 100%;
}
.menu-container {
  margin: 0;
  background-color: #fff;
}
.logo {
  margin: 10px;
}
.menu-text {
  width:90%;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
}
.menu-container .menu-text .menu .menu-item {
  flex: 1;
  align-self:stretch;
}
.menu-container .menu-text .menu .menu-item a {
  color: #222222;
  display: block;
  padding: 1.1em ;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}
.menu-container .menu .menu-item a:hover {
  color: #1552B0;
}
.menu-container .menu .menu-item :last-child a {
  border-right: none;
}
#modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  height: 120%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
@media screen and (max-width: 768px) {
  .row{
    display: flex;
    flex-direction: center;
    align-items:center;
  }
  .menu-container .menu {
    -webkit-transform: translate(-50%, -50%);
    background: #fdfdfd;
    display: none;
    height: auto;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 100;
  }
  .menu-container .menu .menu-item:last-child a {
    border-bottom: none;
  }
}
/* header end */

/* button */
.button{
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 1.5em;
}
.button a {
  text-decoration: none;
}
.button-circle {
  width: 200px;
  height: 40px;
  font-size: 12px;
  letter-spacing: 1.5px;
  color: #fff;
  background-color: #0058FF;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease 0s;
  cursor: pointer;
  outline: none;
  }
.button-circle:hover {
  background-color: #0058FF;
  box-shadow: 0px 15px 20px rgba(0, 88, 255, 0.4);
  color: #fff;
  transform: translateY(-3px);
}
.button-sq {
  display: block;
  font-size: 14px;
	padding: 0.8em 4em;
	text-align: center;
	text-decoration: none;
	color: #1552B0;
	border: 2px solid #1552B0;
	border-radius: 3px;
	transition: 0.4s;
}
.button-sq:hover {
  background: #1552B0;
  color: #fff;
}


/* bannar */
.bannar {
  background-image: url(https://ipfs.io/ipfs/QmU5CAy5otRHrDSRKZaem3AAsP4YYc8PiM8R9QGNAKZKhQ);
  background-size:cover;
  width: auto;
  overflow: hidden;
  color: #fdfdfd;
}
.bannar-text {
  margin: 2em 1em 1em 1em;
  margin-bottom: 0em;
}
.bannar-text h3{
  margin-bottom: 0;
  font-weight: 600;

}
.bannar-text p{
  margin-bottom: :0;
  font-weight:200;
  line-height: 0;
  letter-spacing: 0.1;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content:center;
  height: 60px;
  width: 100%;
  background-color: #ffffff;
}
.ft-text {
  align-self: center;
  color: #222222;
  font-size: 12px;
}
.policy {
  align-self: center;
  margin-bottom: 5px;
}
.policy a {
  text-decoration: none;
  font-size: 10px;
  color: #d2d2d2;
}


/* page home */
.top {
  width: 100%;
  position: relative;
}
.top-text {
  position: absolute;
  color: #ffffff;
  align-self: center;
  margin-top: 15%;
}
.top-image img{
  width: 100%;
}

.node-name h4{
  font-weight: 600;
  font-size: 32px;
  margin: 1.5em 0 4px 0;
  letter-spacing: 0.1;
}
.node-name p{
  padding: 0;
  margin: 0 0 1em 0;
  color: #636363;
  letter-spacing: 0.1;
}

.node-frase-text h4 {
  color: #fdfdfd;
  margin: 2em 1em 1em 1em;
}
.list {
  margin: 0;
  align-self: center;
  letter-spacing: 1.5px;
}
.node-frase-text li{
  color: #ccc;
  font-size: 12px;
}
.explain{
  display: flex;
  align-items:center;
}
.explain-text {
  margin: 1.5em;
}
.image{
  margin: 0.5em ;
}

/* page staking */
.stake-top {
  height: 100px;
  position: relative;
  background-color: ;
}
.stake-title {
  position: absolute;
}
.stake-title h2{
  margin:1.5em 0 0 0;
}
.stake-title p{
  padding: 0;
  margin: 0.5em 0 0 0;
  color: #63636E;
  letter-spacing: 0.1;
  font-weight: 200;
}
.stake-base-title p{
  color: #1552B0;
  font-weight: 600;
  font-size: 1.2em;
  margin: 1.5em 0px;
}
.stake-base-area{
  background-color: #F2F2F2;
}
.stake-base-text{
  margin: 5%;
}
.s-b-t {
  align-self: center;
}
.stake-base-text a {
  text-decoration: none;
  color: grey;
}
.stake-content-text {
  margin: 8% 5% 0 5%;
}
.card {
  width: 50%;
  align-self:stretch;
  background-color: #F2F2F2;
  margin: 1.5em;
  padding: 1em 2em 0 2em;
}
.card h4 {
 line-height: 0px;
 margin: 0.8em;
}
.card-2{
  background-color: #F2F2F2;
  align-self:stretch;
  width: 30%;
  margin: 1em;
}
.card-2 p {
  margin: 1.2em;
  font-weight: 600;

}

/* page disital */
.digital-title h2{
  margin: 2.5em 0 0.5em 0;
}
.digital-content-text {
  margin: 3em 1em 1em 1em;
}
.advantage {
  margin-top: 2em;
}

/* page neunode */
.neunode{
  /* margin: 1em; */
}
.image-a {
  width: 80%;
}
.image-b {
  margin: 1.5em 1.5em 0 1,5em;
  width: 50%;
}
.whatneu-text {
  color: #63636E;
  margin: 1em;
  width: 65%;
  margin-left: 5%
}
.whatneu-text h4 {
  margin-bottom: 1.5em;
}
.whatneu-text h3 {
  color: #fdfdfd;
}

.explain{
  display: flex;
  align-items:center;
}
.spec-text {
  color: #636363;
  margin: 0 5% 1em 5%;
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.left-line  {
  align-self: stretch;
  width: 32.5%;
}
.right-line{
  align-self: stretch;
  width: 32.5%;
}
.element {
  margin: 1em 1em 1.5em 1.5em;
  width: 80%;
}
.element h3 {
  color: #fdfdfd;
  margin: 0.5em;
  font-size: 16px;
}
.element p {
  color: #636363;
  font-size: 12px;
  padding-left: 20px;
  margin-top: 0;
}

.management {
  margin: 5% 5%;
}
.management-title {
  margin:
}
.manage-text {
  margin: 0em 1.5em 0.5em 1.5em;
  width: 80%;
}
.manage-text h4 {
  font-size: 1.2em;
  margin: 1.2em 0em 1em 0;
  line-height: 0;
}

/* page flow */
.card-3{
  background-color: #F2f2f2;
  align-self:stretch;
  width: 18%;
  margin: 1em;
}
.card-3 p {
  margin: 1em;
  font-size: 14px;
  font-weight: 600;
}
.flow-nb {
  font-size: 28px;
  margin-top: 0.5em;
  font-weight: 100;
}
.flow-image {
  margin-bottom: 1.1em;
}
.flow-content-text h2 {
  font-size: 22px;
  margin: 1%;
}
.flow-content-text p{
  margin-top: 0px;
  margin-left: 10%;
  padding-bottom: 0.5em;
}
.flow-content-text a{
  text-decoration: none;
  color: grey;
}

/* company */
.contact {
  margin: 5% 10%;
}
.googleform {
  margin-top: 6em;
}
.googleform-2 {
  margin-top: 1em;
}
.p-form {
  display: block;
  flex-direction: column;
  width: 70%;
}
.formContent {
  display:flex;
  flex-direction: column;
  border: 2px solid #d2d2d2;
  padding: 2em 2.5em;
  margin: 1em;
  font-family : inherit;
}
.p-formGroup input {
  font-weight: 400;
  margin: 0.5em 0 1.2em 0;
  height: 24px;
  font-size: 1em;
  color: #222222;
  font-family : inherit;
  letter-spacing: 1.5px;
}
.p-formGroup label {
  color: #222222;
  font-weight: 600;
}
.select {
  height: 24px;
  width: 60%;
  font-size: 1em;
  font-weight: 400;
  margin: 0.5em 0 1.2em 0;
  background-color: #fdfdfd;
  border:solid 1px #ccc;
  font-family : inherit;
  letter-spacing: 1.5px;
}
input[type="submit"]{
  -webkit-appearance: none;
}
input:focus {
    border:solid 1px #1552B0;
}
.submit {
  margin: 1em;
  margin-bottom: 3em;
}
.submit input {
  /* display: block; */
  font-size: 14px;
  padding: 0.8em 4em;
  text-align: center;
  color: #1552B0;
  border: 2px solid #1552B0;
  border-radius: 3px;
  transition: 0.4s;
}
.submit :hover {
  background: #1552B0;
  color: #fff;
}
.area {
  font-weight: 400;
  margin: 0.5em 0 1.2em 0;
  font-size: 1em;
  color: #222222;
  width: 100%;
  height: 400px;
  border:1px sloid #ccc;
  font-family : inherit;
  letter-spacing: 1.5px;
  padding-left: 0.7em;
}
textarea[id="contactText"]{
  -webkit-appearance: none;
}

/* thanks */
.thanks {
  margin: 5% 10%;
}
.thanks h2 {
  font-size: 20px;
  margin:0.5em;
}

/* policy terms */
.c2 {
  margin-bottom: 2em;
}
.deco_list li{
  list-style:initial;
}

/* List prop */
.alppy_button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button_li {
  display: block;
  font-size: 14px;
	padding: 0.8em 4em;
	text-align: center;
	text-decoration: none;
	color: #1552B0;
	border: 2px solid #1552B0;
	border-radius: 3px;
	transition: 0.4s;
  margin: 0;
}
.button_buy {
  display: block;
  font-size: 14px;
	padding: 0.8em 4em;
	text-align: center;
	text-decoration: none;
	color: #fdfdfd;
  background-color: #1552B0;
	border: 2px solid #1552B0;
	border-radius: 3px;
	transition: 0.4s;
}
.propblock {
  margin-top: 4em;
}
.propTitle {
  width: 100%;
  margin:1em;
  padding:0.5em;
  background-color: #eee;
  font-weight: bold;
}
.propImage {
  margin:1em;
}
.propCard {
   margin:1em;
   padding: 1em;
   background-color: #;
   width: 350px;
   display: flex;
   flex-direction: row;
}
table th{
  /* font-weight: 400; */
}
.cardTitle table{
  text-align: left;
}
.cardTitle th{
  padding-right: 3em;
}
.bold {
  font-weight: bold;
}
.detail_content {
  margin: 1.5em 0.5em 1em 0.5em;
  padding: 0.25em
}
.detail_content p {
  margin:0.2em;
}
.detail_content a {
  text-decoration: none;
  font-size: 14px;
  color: blue;
  letter-spacing: 0.5px;
}
.detail_content table {
  text-align: left;
}
.detail_content th {
  padding-right: 3em;
}

.included_card {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.card_4{
  background-color: #F2F2F2;
  align-self:stretch;
  width: 28%;
  margin: 0.5em;
}
.card_4 p {
  font-weight: 400;
  margin: 1em 0.75em;
}
.detail_text {
  margin-left: 2em;
  width: 100%;
}




/* color */
.blue {
  color: #1552B0;
}
.white {
  color: #fdfdfd;
}
.back-black {
  background-color: #121217;
}
.back-navy {
  background-color: #080D1F;
}
.marker {
  background:linear-gradient(transparent 75%, #fff799 75%);
  font-weight: bolder;
}
.marker-b {
  background:linear-gradient(transparent 75%, #bce2e8 75%);
  font-weight: bolder;
}
.asterisk {
  color: rgba(255, 147, 147, 0.85);
}
.need {
  font-size: 0.85em;
}

/* responsive  */
@media screen and (max-width: 768px) {
  .main {
    padding-left: 5%;
    padding-right: 5%;
  }
  .icon-hamburger {
    display: inline-block;
  }
  .explain{
    display: flex;
    flex-direction: column;
    align-items:center;
  }
  .image-b {
    margin: 1.5em 1.5em 0 1,5em;
    width: 60%;
  }
  .align-row {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
  }
  .card {
    width: 80%;
    align-self: center;
  }
  .card-2 {
    width: 80%;
    align-self: center;
  }
  .neu-text {
    margin: 1.5em 1.5em 1.5em 4em;
  }
  .flow-content-text{
    margin-top: 20px;
  }
  .card-3 {
    width: 80%;
    align-self: center;
    margin: 1.5% 0;
  }
  .flow-image {
    width: 50px;
    margin-bottom: 1em;
  }
  .arrow {
    display: none;
  }
  .top-image img{
    height: 300px;
  }
  .top-text {
    position: absolute;
    color: #ffffff;
    align-self: center;
    margin-top: 25%;
    font-size: 12px;
  }
  .spec-text {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
  .res-iamge img{
    width: 100%;
  }
  .googleform iframe {
    width: 100%;
  }
  .googleform-2 iframe{
    width: 100%;
  }
  .p-form {
    display: block;
    flex-direction: column;
    width: 100%;
  }
  .formContent {
    display:flex;
    flex-direction: column;
    margin: 0.25em;
    padding: 1em;
    border: none;
  }
  .p-formGroup input {
    font-weight: 300;
    margin: 0.5em 0 1em 0;
    height: 24px;
    font-size: 1em;
    color: #222222;
    border: 1px solid #ccc;
    padding-left: 0.7em;
  }
  .p-formGroup label {
    color: #222222;
    font-weight: 600;
  }
  .select {
    height: 24px;
    width: 100%;
    font-size: 1em;
    font-weight: 300;
    margin: 0.5em 0 1em 0;
    background-color: #fdfdfd;
    border:solid 1px #ccc;
  }
  .wide{
    margin: 0;
  }
  .submit input {
    font-size: 14px;
    font-weight: 400;
  }
  input[type="submit"]{
    -webkit-appearance: none;
  }
  .thanks {
    margin: 5% 10%;
    padding: 0 10%;
  }
  .thanks h2 {
    font-size: 18px;
  }
  .thanks p {
    font-size: 14px;
  }
  .alppy_button{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .included_card {
    width: 100%;
    display: column;
  }
  .card_4 {
    margin: 0.5em;
    width: 100%;
  }
  .cardTitle th{
    padding-right: 1em;
  }
  .detail_text {
    margin-left: 0em;
  }
  .detail_content th {
    padding-right: 0.5em;
  }


}
/* end responsive */

/* only big screen */
@media screen and (min-width: 769px) {
  .align-row{
    display: flex;
    justify-content:center;
    flex-direction:row;
    align-items:center;
  }
}

/* order rules */
.main {
  padding-left: 10%;
  padding-right: 10%;
}
.center {
  display: flex;
  flex-direction: column;
  align-items:center;
}
.align-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom {
  margin-bottom: 2em;
}
.margintop {
  margin-top: 0;
}
.column {
  display: flex;
  flex-direction: column;
}
.wide{
  margin: 0 5%;
}

/* Scroll Motion */
/* 基本のスタイル */
   .foo.delighter {
      transition: all .3s ease-out;
      transform: translateY(100%);
      opacity: 0;
   }

/* スタート時のスタイル */
   .foo.delighter.started {
      transform: none;
      opacity: 1;
   }

/* エンド時のスタイル */
   .foo.delighter.started.ended {
      /* border: solid red 10px; */
   }
/* Scroll Motion */

/* ハンバーガーとグローバル */
   header {
     display: flex;
     flex-direction: row;
     /* margin:10px; */
     background: fdfdfd;
   }

   #nav-drawer {
     padding-left: 10px;
     top:20px;
     position: relative;
   }

   /*チェックボックス等は非表示に*/
   .nav-unshown {
     display:none;
   }

   /*アイコンのスペース*/
   #nav-open {
     display: inline-block;
     width: 30px;
     height: 22px;
     vertical-align: middle;
   }

   /*ハンバーガーアイコン*/

   #nav-open span, #nav-open span:before, #nav-open span:after {
     position: absolute;
     height: 3px;/*線の太さ*/
     width: 25px;/*長さ*/
     border-radius: 3px;
     background: #555;
     display: block;
     content: '';
     cursor: pointer;
   }
   #nav-open span:before {
     bottom: -8px;
   }
   #nav-open span:after {
     bottom: -16px;
   }

   /*閉じる用の薄黒カバー*/
   #nav-close {
     display: none;/*はじめは隠しておく*/
     position: fixed;
     z-index: 99;
     top: 0;/*全体に広がるように*/
     left: 0;
     width: 100%;
     height: 100%;
     background: black;
     opacity: 0;
     transition: .3s ease-in-out;
   }

   /*中身*/
   #nav-content {
     overflow: auto;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 9999;/*最前面に*/
     width: 80%;/*右側に隙間を作る（閉じるカバーを表示）*/
     max-width: 330px;/*最大幅（調整してください）*/
     height: 100%;
     background: #fff;/*背景色*/
     transition: .3s ease-in-out;/*滑らかに表示*/
     -webkit-transform: translateX(-105%);
     transform: translateX(-105%);/*左に隠しておく*/
   }

   /*チェックが入ったらもろもろ表示*/
   #nav-input:checked ~ #nav-close {
     display: block;/*カバーを表示*/
     opacity: .5;
   }

   #nav-input:checked ~ #nav-content {
     -webkit-transform: translateX(0%);
     transform: translateX(0%);/*中身を表示（右へスライド）*/
     box-shadow: 6px 0 25px rgba(0,0,0,.15);
   }

   .menu_text {
     display: flex;
     flex-direction: column;
     align-items: center;
   }
   .menu-item {
     width: 100%;
     padding: 0.5em;
     padding-top: 1em;
     padding-bottom: 1em;
   }
   .menu-item a {
     text-decoration: none;
      color: #222222;
   }

@media screen and (min-width:768px) {
 #nav-open {
   display:none;
 }
}
