body {
  letter-spacing: 1.5px;
  letter-spacing: 1.5;
  font-family: Helvetica Neue;
  font-weight: 300px;
  color: #222222;
  background-color: #fdfdfd;
  width: 100%;
}
ul {
  list-style: none;
}
hr {
  width: 80%;
  color: #cccccc;
}
.sub-en {
  margin: 0;
  font-weight: lighter;
  font-size: 12px;
  color: #63636E;
}
.hr {
  margin: 2em 0em;
}
.number {
  font-size: 40px;
  font-weight: 100;
  padding-right: 1em;
}


/* header */
.row {
  display: flex;
  flex-direction: row;
  align-items:center;
}

.menu-container {
  margin: 0;
}
.logo {
 margin-left: 10px;
}
.menu-text {
  width:90%;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
}
.menu-container .menu .menu-item {
  flex: 1;
  align-self:stretch;
}

.menu-container .menu .menu-item a {
  color: #222222;
  display: block;
  padding: 1em ;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}
.menu-container .menu .menu-item a:hover {
  color: #eeeeee;
}
.menu-container .menu .menu-item:last-child a {
  border-right: none;
}
#modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  height: 120%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
@media screen and (max-width: 768px) {
  .row{
    display: flex;
    flex-direction: center;
    align-items:center;
  }
  .menu-container .menu {
    -webkit-transform: translate(-50%, -50%);
    background: #fdfdfd;
    display: none;
    height: auto;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 100;
  }
  .menu-container .menu .menu-item a {
    /* border-bottom: 1px solid #fff; */
    /* border: none; */
  }
  .menu-container .menu .menu-item:last-child a {
    border-bottom: none;
  }
}
/* header end */

/* button */
.button{
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 1.5em;
}
.button-circle {
  width: 200px;
  height: 40px;
  font-family: Arial;
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease 0s;
  cursor: pointer;
  outline: none;
  }
.button-circle:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-3px);
}
.button-sq {
  display: block;
  font-size: 14px;
	padding: 0.8em 4em;
	text-align: center;
	text-decoration: none;
	color: #EC407A;
	border: 2px solid #EC407A;
	border-radius: 3px;
	transition: 0.4s;
}
.button-sq:hover {
  background: #EC407A;
  color: #fff;
}

/* hamburger */
.icon-hamburger {
  background: #fdfdfd;
  /* border: 2px solid #ccc; */
  cursor: pointer;
  height: 50px;
  position: relative;
  width: 50px;
  display: none;
  margin-bottom: 0.4em;
}
.icon-hamburger span {
  background: #cccccc;
  display: block;
  height: 16%;
  left: 50%;
  margin: -8% 0 0 -42%;
  position: absolute;
  top: 50%;
  width: 84%;
}
.icon-hamburger span::before,
.icon-hamburger span::after {
  background: #cccccc;
  content: "";
  display: block;
  height: 100%;
  left: 50%;
  margin: 0 0 0 -50%;
  position: absolute;
  top: 50%;
  width: 100%;
}
.icon-hamburger span::before {
  margin-top: -38%;
}
.icon-hamburger span::after {
  margin-top: 19%;
}

/* bannar */
.bannar {
  background-image: url(https://ipfs.io/ipfs/QmU5CAy5otRHrDSRKZaem3AAsP4YYc8PiM8R9QGNAKZKhQ);
  background-size:cover;
  color: #ffffff;
}
.bannar-text {
  margin:1em;
  margin-bottom: 0em;
  font-weight: 600;
}
.bannar-text h3{
  margin-bottom: 0;
}
.bannar-text h5{
  font-weight:200;
  line-height: 0;
  letter-spacing: 0.5;
}

/* footer */
.footer {
  display: flex;
  justify-content:center;
  height: 40px;
  width: 100%;
  background-color: #ffffff;
}
.ft-text {
  align-self: center;
  color: #222222;
  font-size: 12px;
}

/* TOP */
.top {
  position: relative;
}
.top-text {
  position: absolute;
  color: #ffffff;
  align-self: center;
  margin-top: 10em;
}


/* page home */
.node-name{
  line-height: 0;
  margin-bottom: 1.5em;
}
.node-name h4{
  font-weight: 600;
  font-size: 24px;
}
.node-name p{
  font-family: Helvetica Neue;
  letter-spacing: 0;
  color: #63636E;
}

.node-frase-text h4 {
  color: #fafafa;
}
.list {
  margin-top: 0em;
  align-self: center;
}
.node-frase-text li{
  color: #cccccc;
  font-size: 12px;
}

.explain{
  display: flex;
  align-items:center;
}
.explain-text {
  margin: 1.5em;
}
.image{
  margin: 1.5em;
}

/* page staking */
.stake-top {
  height: 100px;
  position: relative;
  background-color: ;
}
.stake-title {
  position: absolute;

}
.stake-base-title p{
  color: #1552B0;
  font-weight: 600;
  font-size: 1.25em;
  margin: 1.5em 0px;
}
.stake-base-area{
  background-color: #eeeeee;
}
.stake-base-text{
  margin: 5%;
}
.s-b-t {
  align-self: center;
}

.stake-content-text {
  margin: 8% 5% 0 5%;
}
.card {
  width: 50%;
  align-self:stretch;
  background-color: #eeeeee;
  margin: 1.5em;
  padding: 1em 2em 0 2em;
}
.card h4 {
 line-height: 0px;
}
.card-2{
  background-color: #eeeeee;
  align-self:stretch;
  width: 30%;
  margin: 1em;
}
.card-2 p {
  margin: 1em;
}

/* page disital */
.digital-content-text {
  margin: 3em 1em 1em 1em;
}

/* page neunode */
.image-b {
  margin-bottom: 2.5em
}
.whatneu-text {
  color: #63636E;
  margin: 1.5em;
  width: 65%;
  margin-left: 5%
}
.whatneu-text h4 {
  margin-bottom: 1.5em;
}
.whatneu-text h3 {
  color: #fdfdfd;
}
.element {
  margin: 1em 1em 1.5em 1.5em;
}
.element h3 {
  color: #fdfdfd;
  margin: 0.5em;
}
.element p {
  color: #aaaaaa;
  font-size: 12px;
  padding-left: 20px;
  margin-top: 0;
}

.explain{
  display: flex;
  align-items:center;
}
.spec-text {
  color: #63636E;
  margin: 1.5em;
  margin-left: 5%;
  width: 65%;
  display: flex;
  align-items: stretch;
}
.left-line .right-line {
  width: 32.5%;
}


/* color */
.blue {
  color: #1552B0;
}
.white {
  color: #fdfdfd;
}
.back-black {
  background-color: #121217;
  width: 100%;
}
.back-navy {
  background-color: #101625;
}


/* responsive  */
@media screen and (max-width: 768px) {
  .icon-hamburger {
    display: inline-block;
  }
  .explain{
    display: flex;
    flex-direction: column;
    align-items:center;
  }
  .align-row {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
  }
  .card {
    width: 80%;
    align-self: center;
  }
  .card-2 {
    width: 60%;
    align-self: center;
  }
  .neu-text {
    margin: 1.5em 1.5em 1.5em 4em;
  }

}
/* end responsive */

/* only big screen */
@media screen and (min-width: 769px) {
.align-row{
  display: flex;
  justify-content:center;
  flex-direction:row;
  align-items:center;
}

}

/* order rules */
#main {
  padding-left: 5%;
  padding-right: 5%;
}
.center {
  display: flex;
  flex-direction: column;
  align-items:center;
}
